.home-container {
  position: relative;
  width: auto;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-45deg, #110303f0, #80ada0, #053431fc, #7a6868);
}

.home-container a {
  text-decoration: none;
  color: #000000;
}

.home-container .nav-item a {
  color: #c5a367;
}

.home-container .nav-item a.disabled {
  color: #898071;
}

.home-container .nav-item a:hover {
  color: #898071;
}

.home-container .navigation-menu {
  position: relative;
  z-index: 10000;
  color: #efefee;
  font-size: 40px;
  font-family: monospace;
}

.home-container .animation-wrapper {
  margin-top: 90px;
  width: 80%;
}

.home-container .animation-wrapper .stagger-visualizer {
  position: absolute;
  width: 1100px;
  height: 550px;
  transform-origin: left top;
}

.home-container .animation-wrapper .stagger-visualizer .dots-wrapper {
  transform: translateZ(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-container .animation-wrapper .stagger-visualizer .dot {
  position: relative;
  z-index: 1;
  width: 23px;
  height: 23px;
  margin: 16px;
  background-color: #d3cdc6;
  border-radius: 50%;
}

@media (min-width: 740px) {
  .home-container .stagger-visualizer .dot {
    background-color: transparent;
    background-image: linear-gradient(180deg, #b3abab 8%, #cfcfcf 100%);
  }
}

.home-container .stagger-visualizer .cursor {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 37px;
  height: 37px;
  margin: 9px;
  background-color: #b52b44;
  border-radius: 50%;
}
